* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

:root {
    --cor-fundo: #D0D7Df;
    --cor-cabecalho: #566E7A;
    --cor-card: #B0BFC6;
}

body {
    background-color: var(--cor-fundo);
}

header {
    height: 4em;
    margin-bottom: 2em;
    background-color: var(--cor-cabecalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

h1 {
    color: #fff;
}

/* Resumo de entradas e saídas */

.monthlySummary {

    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

}

.summaryTable {
    background-color: var(--cor-card);
    margin: 0 auto;
    width: 12em;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: .6em;
}

.fa-arrow-up {
    color: green;
}

.fa-arrow-down {
    color: red;
}

.fa-hand-holding-dollar {
    color: #007bff;
}

.summaryTable div {

    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.reference {
    background-color: var(--cor-card);
    margin: 0 auto;
    width: 12em;
    height: 5em;
    border-radius: .6em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.reference button {
    align-items: center;
    width: 80%;
}

.reference select {
    border: none;
    border-radius: .5em;
}

.reference div {
    margin: 0 auto;

}

/* Input de entrada */

.inputGlobals {
    background-color: var(--cor-card);
    border-radius: .6em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.inputEntries {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.inputEntries label {
    font-weight: bold;
    margin-bottom: .5em;
}

.inputEntries input {
    border: none;
    border-radius: .5em;
}

.inputEntries select {
    border: none;
    border-radius: .5em;
}

.inputGlobals button {
    margin-right: 1em;
}


#btnAddItem,
#addClassificacao,
#addMes,
#excluirClassificacao,
#btnSair {
    border: none;
    border-radius: .2em;
    background-color: var(--cor-cabecalho);
    color: white;
    padding: .3em .5em;
    cursor: pointer;
    margin-right: 0.3em;
}

#btnAddItem:hover,
#addClassificacao:hover,
#addMes:hover,
#excluirClassificacao:hover,
#btnSair:hover {
    background-color: var(--cor-fundo);
    color: black;
    font-weight: bold;
}



/* Adicionar classificação*/
.addClassificacao {
    background-color: var(--cor-card);
    border-radius: .6em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.addClassificacao input {
    margin-right: 1em;
    border: none;
    border-radius: .5em;
}



/* Tabela */

.tableContainer,
.ContinerResumo {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5em;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--cor-card);
}

.edit-button {
    height: 1.5em;
    width: 1.5em;

}

.remove-button {
    height: 1.5em;
    width: 1.5em;
    border: none;
    border-radius: .2em;
    background-color: var(--cor-cabecalho);
    color: white;
    cursor: pointer;


}

.remove-button:hover {
    background-color: var(--cor-fundo);
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 420px) {
    .inputGlobals {
        display: flex;
        flex-direction: column;
    }

    .inputGlobals button {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .addClassificacao {
        display: flex;
        flex-direction: column;
    }

    .addClassificacao input {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .addClassificacao button {
        margin-bottom: 1em;
    }
}